
/*estilogeneralpagina*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*empieza estilo body*/

.estilobody{
    background: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lato', sans-serif;
}

/*termina estilo body*/


/* empieza estilo header*/


.estiloheader{
    background: #FCFCFC;
    width: 95%;
    height: 250px;
    margin-top: 5px;
}

.seccionheader{
    display: flex;
    flex-direction: column;
}

.logohorisoft{
    width: 100%;
}

.elementoimgheader{
    display: flex;
    flex-direction: row;
}

.listanav{
    display: flex;
    justify-content: flex-end;

}
nav >a{

    color: #575756;
    font-weight: 500;
    text-decoration: none;
    margin-right: 25px;
}

nav > a:hover{

    text-decoration: underline;
}

/*termina estilo header*/


/*empieza estilo main*/
.estilomain{

    background: #FCFCFC;
    width: 95%;
    height: auto;
    max-height: none;
    padding-bottom: 45px;


}/*termina estilo main*/


/*empieza formulario*/
fieldset{
    width: 30%;
}
/*termina formulario*/

/*empieza estilo footer*/
.estilofooter{

    background: #575756;
    width: 95%;
    height: 80px;
    display: flex;
    flex-direction: row;
    padding: 5px;
    align-items: end;


}
.manual{
    display: flex;

}

.textofooter{
    color: white;
}
.manual-link{
    color: #F76900;
}


/*termina estilo footer*/




























